<header>
  <div class="header-content">
		<img class="logo" src="/website-logo.png"/>
		<!-- <h1 class="website-logo">Project BEST</h1> -->

		<div class="tab-container">
			<a href="/"><button type="button" class="tab-button">Home</button></a>
			<a href="/how-to-use"><button type="button" class="tab-button">How to Use</button></a>
			<a href="/lessons"><button type="button" class="tab-button">Lessons</button></a>
			<a href="/about"><button type="button" class="tab-button">About Us</button></a>
		</div>
  </div>
</header>
